@import url("//hello.myfonts.net/count/2f7bf2");
@font-face {
    font-family: 'Novecentosanswide';
    src: url('components/fonts/2F7BF2_0_0.eot');
    src: url('components/fonts/2F7BF2_0_0.eot?#iefix') format('embedded-opentype'), url('components/fonts/2F7BF2_0_0.woff2') format('woff2'), url('components/fonts/2F7BF2_0_0.woff') format('woff'), url('components/fonts/2F7BF2_0_0.ttf') format('truetype');
}